.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;

  &__link {
    margin-right: 8px;
  }

  &__textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    background: #0001;
    font-family: monospace;
  }
}
